Hostname is {{ ansible_facts['hostname'] }}
Ip address is {{ ansible_facts['all_ipv4_addresses'] }}
Relis is {{ ansible_facts['distribution_release'] }} version is {{ ansible_facts['distribution_version'] }}
contact {{ manager }} if anything wrong